.main-content {
    margin: 10em auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 77%;
    margin-bottom: 20em;


    &__img-box {
        margin-right: auto;

        &--img {
            width: 60em;

        }

    }

    &__content{
        padding:4em 8em;
        position:absolute;
        margin-top: auto;
        background-color: white;
        width: 33%;
        left: 49%;
        top: 135%;


        &--title {
            color: black;
            font-size: 3.7em;
            text-transform: uppercase;
            margin-bottom: 1em;

        }

        &--subtext{
            color: black;
            font-size: 1.5em;

        }
    }
}