@import "../utils/variables.scss";




@media (max-width: 430px) {
    .footer {
      background-color: $loop-black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0;
  
      &__img-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 2em;
  
        &__social-media-box {
          width: 45%;
          display: flex;
          flex-direction: row;
        
        }
      }
  
      &__links-and-copyright {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
  
        &__links-box {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          text-align: center;
  
          &--link {
            display: inline-block;
            text-decoration: none;
            font-size: 1.3em;
            margin-bottom: .5em;
  
          }
        }

        &__copyright-text{
            text-align: center;
            font-size: 1.1em;
            margin: .5em 0;
        }
      }
    }
  }

  
@media (max-width: 390px) {
  .footer {
    background-color: $loop-black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;

    &__img-container {
      display: flex;
      flex-direction: column;
      margin-bottom: 2em;

      &__social-media-box {
        width: 50%;
        display: flex;
        flex-direction: row;
      
      }
    }

    &__links-and-copyright {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &__links-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;

        &--link {
          display: inline-block;
          text-decoration: none;
          font-size: 1.3em;
          margin-bottom: .5em;

        }
      }

      &__copyright-text{
          text-align: center;
          font-size: 1.1em;
          margin: .5em 0;
      }
    }
  }
}
